/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font import and basic styles */
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
  line-height: 1.6;
}

header {
  background-color: hsl(0, 0%, 100%);
  padding: 1em 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1440px; */
  width: 90%;
  margin: 0 auto;
  padding: 0 1.5em;
}

header h1 {
  font-weight: 800;
  font-size: 24px;
}

header button {
  display: flex;
  gap: 0.5em;
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

/* #moon {
  position: relative;
  top: 2px;
} */

main {
  /* max-width: 1440px; */
  width: 90%;
  margin: 2em auto;
  padding: 0 1.5em;
}

.search-and-filter {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  gap: 2em;
  margin-bottom: 2em;
}

.search-and-icon {
  display: flex;
  gap: 1em;
  padding: 0.75em 2em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

#search-icon {
  position: relative;
  top: 5px;
}

#search {
  border: 0px solid;
  width: 100%;
  appearance: none;
  height: 2em;
}

#filter {
  padding: 0.75em 1em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 200px;
}

.countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 4fr));
  gap: 2em;
}

.country-card {
  background: hsl(0, 0%, 100%);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.country-card:hover {
  transform: scale(1.05);
}

.country-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.country-card .info {
  padding: 1em;
}

.country-card .info h2 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 0.5em;
}

.country-card .info p {
  font-size: 14px;
  margin-bottom: 0.5em;
}

.hidden {
  display: none;
}

/* Dark mode styles */
body.dark-mode {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

header.dark-mode {
  background-color: hsl(209, 23%, 22%);
}

#search.dark-mode,
#filter.dark-mode {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.country-card.dark-mode {
  background-color: hsl(209, 23%, 22%);
}

/* Media Queries for Mobile */
@media (max-width: 376px) {
  header .container, main {
    width: 100%;
  }

  header h1 {
    font-size: 16px;
  }
  
  header button {
    /* gap: 0.1em; */
    font-size: 12px;
  }

  .search-and-filter {
    flex-direction: column;
    gap: 1.5em;
  }

  .search-and-icon {
    max-width: 100%;
  }
  
  #filter {
    max-width: 60%;
  }

  /* .countries-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 4fr));
    gap: 2em;
  } */
  
  /* .country-card {
    background: hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
  } */
  
  /* .country-card:hover {
    transform: scale(1.05);
  } */
  
  /* .country-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  } */
  
  /* .country-card .info {
    padding: 1em;
  } */
  
  /* .country-card .info h2 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0.5em;
  } */
  
  /* .country-card .info p {
    font-size: 14px;
    margin-bottom: 0.5em;
  } */
  
  /* .hidden {
    display: none;
  } */
}
